Flask
SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-Mail
Flask-CORS
Celery
redis
Jinja2
Premailer
pandas
matplotlib
pytest
Flask-Testing
Flask-Bcrypt
Flask-Limiter
Flask-Talisman
requests
Flask-SQLAlchemy
Flask-Caching
gunicorn
docker
docker-compose
pymilter
spamsum
requests
